
<%= link_to 'Back', searches_path, :class => 'col-md-offset-1' %>
<%= form_for @search, :remote => true do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <span class="col-md-offset-1 col-md-1">
      <%= f.label :search_item, "Search Artist", :class => 'label-control' %><br>
    </span>
    <span class="col-md-5">
      <%= f.text_field :search_item, :class => 'form-control' %>
    </span>
  </div>

  <!-- adding hidden field for user_id as foreign key -->
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <!-- <div class="actions">
    <%= f.submit %>
  </div> -->
  <div class="actions">
    <button class="btn btn-primary" >Send</button>
  </div>
<% end %>

<!-- Script to send sms -->
<script>
    $(document).ready(function() {
        $('button').click(function() {
            alert("Requesting");
            // $('#search_result').html('<p>Searching...</p>');            
            var artist = $("#search_search_item").val();
             $.ajax({
                       method: "POST",
                       url: "http://ws.audioscrobbler.com/2.0/?method=artist.search&artist="+artist+"&api_key=bc4920f2e3ccd2db3214cc9fd74da346&format=json",
                       crossDomain: true,
                       timeout : 10000, 
                       dataType: "jsonp",
                       xhrFields: {
                          withCredentials: true
                        },
                        success: displayArtistDetails,
                        error: artistNotFound
              });

             function artistNotFound(){
              alert("not found");
              $('#search_result').html('<p>Oops!! Something went wrong, Please try again</p>');
             }

              function displayArtistDetails(data){
                            alert("inside success");
                              console.log(data);  //returns Object
                              console.log(data.results.artistmatches.artist[0].name);  //returns appropriate title
                              //$.each(data.results.artistmatches.artist , function(){

                              $('#search_result').append('<p><a href="'+data.results.artistmatches.artist[0]["url"]+'">'+data.results.artistmatches.artist[0]["name"]+'</a></p>');
                              $('#search_result').append('<p>'+data.results.artistmatches.artist[0]["listeners"]+'</p><br>');
                              $('#image1').html('<img src="'+data.results.artistmatches.artist[0].image[2]["#text"]+'"></img><br>');
                              //});

                              //edit innerHTML of basic_modal
                              
                                

                                //After success send a request to fetch similar artit
                                $.ajax({
                                         method: "POST",
                                         url: "http://ws.audioscrobbler.com/2.0/?method=artist.getsimilar&artist="+artist+"&api_key=bc4920f2e3ccd2db3214cc9fd74da346&format=json",
                                         crossDomain: true,
                                         timeout: 10000, 
                                         dataType: "jsonp",
                                         xhrFields: {
                                            withCredentials: true
                                          },
                                          success: displaySimilarArtist,
                                          error: similarArtistsNotFound
                                });

                                function similarArtistsNotFound(){
                                  alert("similar not found");
                                   $('#similar_aritsts').html('<p>Oops!! Something went wrong, Please try again</p>');
                                }
                                function displaySimilarArtist(data){
                                     alert("inside similar success");
                                     console.log("inside data");
                                     console.log(data);
                                     console.log("data.similarartists");
                                     console.log(data.similarartists);
                                     console.log("data.similarartists.artist");
                                     console.log(data.similarartists.artist[0].name);
                                     var i = 0;
                                     $.each(data.similarartists.artist, function(){
                                          // $('#similar_aritsts').append('<p>Hello</p><br>');
                                          console.log(this["name"]);
                                          $('#similar_aritsts').append('<p>'+this.name+'</p><br>');
                                          i = i + 1;
                                          if (i === 6) {return false;}
                                          console.log(i);              
                                      });

                                      //edit innerHTML of basic_modal
                                     
                                     
                               
                                   } //end success: function(result)
                  } //end success: function(result)
        });
    });
</script>


<div id="search_result" class="col-md-offset-2"></div>
<div id="artist_url" class="col-md-offset-2"></div>
<div id="image1" class="col-md-offset-2"></div>
<p class="col-md-offset-1"><b>Similar artists:</b></p><br>
<div id="similar_aritsts" class="col-md-offset-2"><br></div>

<div id="error"></div>