<h1>New Search</h1>
<%= form_for @search, :remote => true do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :search_item %><br>
    <%= f.text_field :search_item %>
  </div>

  <!-- adding hidden field for user_id as foreign key -->
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <!-- <div class="actions">
    <%= f.submit %>
  </div> -->
  <div class="actions">
    <button >Send</button>
  </div>
<% end %>

<!-- Script to send sms -->
<script>
    $(document).ready(function() {
        $('button').click(function() {
            alert("Requesting");
            $('#search_result').html('<p>Searching...</p>');            
            var artist = $("#search_search_item").val();
             $.ajax({
                       method: "POST",
                       url: "http://ws.audioscrobbler.com/2.0/?method=artist.search&artist="+artist+"&api_key=bc4920f2e3ccd2db3214cc9fd74da346&format=json",
                       crossDomain: true,
                       timeout : 10000, 
                       dataType: "jsonp",
                       xhrFields: {
                          withCredentials: true
                        },
                        success: displayArtistDetails,
                        error: artistNotFound
              });

             function artistNotFound(){
              alert("not found");
              $('#search_result').html('<p>Oops!! Something went wrong, Please try again</p>');
             }

              function displayArtistDetails(data){
                            alert("inside success");
                              console.log(data);  //returns Object
                              console.log(data.results.artistmatches.artist["name"]);  //returns appropriate title
                              //$.each(data.results.artistmatches.artist , function(){

                              $('#search_result').append('<p>'+data.results.artistmatches.artist[0]["name"]+'</p><br>');
                              $('#search_result').append('<p>'+data.results.artistmatches.artist[0]["listeners"]+'</p><br>');
                              $('#artist_url').html('<a href="'+data.results.artistmatches.artist[0]["url"]+'"</a><br>');
                              $('#image1').html('<img src="'+data.results.artistmatches.artist[0].image[0]["#text"]+'"></img><br>');
                              //});

                              //edit innerHTML of basic_modal
                                $('#search_result').append(
                                  "hurrey!!"
                                 );
                                

                                //After success send a request to fetch similar artit
                                $.ajax({
                                         method: "POST",
                                         url: "http://ws.audioscrobbler.com/2.0/?method=artist.getsimilar&artist="+artist+"r&api_key=bc4920f2e3ccd2db3214cc9fd74da346&format=json",
                                         crossDomain: true,
                                         timeout: 10000, 
                                         dataType: "jsonp",
                                         xhrFields: {
                                            withCredentials: true
                                          },
                                          success: displaySimilarArtist,
                                          error: similarArtistsNotFound
                                });

                                function similarArtistsNotFound(){
                                  alert("similar not found");
                                   $('#similar_aritsts').html('<p>Oops!! Something went wrong, Please try again</p>');
                                }
                                function displaySimilarArtist(data){
                                     alert("inside similar success");
                                     console.log("inside data");
                                     console.log(data);
                                     console.log("data.similarartists");
                                     console.log(data.similarartists);
                                     console.log("data.similarartists.artist");
                                     console.log(data.similarartists.artist[0]["name"]);
                                      $('#similar_aritsts').append('<p>these are the names'+data.similarartists["aritst"]+'</p>');
                                     $.each(data.similarartists.artist, function(){
                                          $('#similar_aritsts').append('<p>Hello</p><br>');
                                          console.log(this["name"])
                                          $('#similar_aritsts').append('<p>'+this.name+'</p><br>');
                                      });

                                      //edit innerHTML of basic_modal
                                      $('#search_result').append(
                                        "hurrey!!"
                                       );
                                     
                               
                                   } //end success: function(result)
                  } //end success: function(result)
        });
    });
</script>

<%= link_to 'Back', searches_path %>

<div id="search_result">
	Hello
</div>
<div id="artist_url">Link To Artist</div>
<div id="image1">Image Here</div>
<div id="image2">Image Here</div>
<div id="similar_aritsts">similar artist</div>

<div id="error"></div>
