<h1>New Search</h1>
<%= form_for @search, :remote => true do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :search_item %><br>
    <%= f.text_field :search_item %>
  </div>

  <!-- adding hidden field for user_id as foreign key -->
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <!-- <div class="actions">
    <%= f.submit %>
  </div> -->
  <div class="actions">
    <button >Send</button>
  </div>
<% end %>

<!-- Script to send sms -->
<script>
    $(document).ready(function() {
        $('button').click(function() {
            //alert($("#class_name option:selected").text());
            alert("Requesting");
            var artist = $("#search_search_item").val();
            //var send_to = $("#message_sent_to").val();
            //alert(message_text);
            //alert(send_to);
              $.ajax({
                       method: "POST",
                       url: "http://ws.audioscrobbler.com/2.0/?method=artist.search&artist="+artist+"&api_key=bc4920f2e3ccd2db3214cc9fd74da346&format=json",
                       crossDomain: true,
                   
                       dataType: "jsonp",
                       xhrFields: {
                          withCredentials: true
                        },
                        success: function(data){
                        	  alert("inside success");
                              console.log(data);  //returns Object
                              console.log(data.results.artistmatches.artist[name]);  //returns appropriate title
                              $.each(data.results.artistmatches.artist , function(){

                                 $('#search_result').append('<p>'+this["name"]+'</p>');

                              });

                              //edit innerHTML of basic_modal
                                $('#search_result').append(
                                  "hurrey!!"
                                 );
                                $('#error').html('Error Code: ' + code + ', Error Message: ' + message);

                              //load modal
                               /* $('.search_result').modal({
                                overlayClose:true
                              });*/

                        } //end success: function(result)
              });
        });
    });
</script>

<%= link_to 'Back', searches_path %>

<div id="search_result">
	Hello
</div>
<div id="error"></div>
